In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('_All_Cities_Cleaned.csv')
dataset.head(5)

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

# One Hot Encoding

In [3]:
seller= pd.get_dummies(dataset['seller_type'],drop_first=True)
seller.head(5)

   BUILDER  OWNER
0        0      1
1        0      1
2        0      1
3        0      1
4        0      1

In [4]:
layout= pd.get_dummies(dataset['layout_type'],drop_first=True)
layout.head(5)

   RK
0   0
1   1
2   0
3   0
4   0

In [5]:
propertytype= pd.get_dummies(dataset['property_type'],drop_first=True)
propertytype.head(5)

   Independent Floor  Independent House  Penthouse  Studio Apartment  Villa
0                  0                  0          0                 0      0
1                  0                  0          0                 1      0
2                  0                  0          0                 0      0
3                  0                  1          0                 0      0
4                  0                  1          0                 0      0

In [6]:
furnish= pd.get_dummies(dataset['furnish_type'],drop_first=True)
furnish.head(5)

   Semi-Furnished  Unfurnished
0               0            0
1               1            0
2               0            1
3               1            0
4               0            0

In [7]:
location = pd.get_dummies(dataset['city'],drop_first=True)
location.head(5)

   Bangalore  Chennai  Delhi  Hyderabad  Kolkata  Mumbai  Pune
0          0        0      0          0        0       0     0
1          0        0      0          0        0       0     0
2          0        0      0          0        0       0     0
3          0        0      0          0        0       0     0
4          0        0      0          0        0       0     0

In [8]:
merged = pd.concat([dataset,seller, layout, propertytype, furnish, location],axis='columns')
merged

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city,...,Villa,Semi-Furnished,Unfurnished,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai,Pune
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad,...,0,0,0,0,0,0,0,0,0,0
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad,...,0,1,0,0,0,0,0,0,0,0
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad,...,0,0,1,0,0,0,0,0,0,0
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad,...,0,1,0,0,0,0,0,0,0,0
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193006,OWNER,1.0,BHK,Apartment,Chinchwad,13250.0,650.0,Semi-Furnished,1.0,Pune,...,0,1,0,0,0,0,0,0,0,1
193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,7000.0,350.0,Unfurnished,1.0,Pune,...,0,0,1,0,0,0,0,0,0,1
193008,OWNER,1.0,BHK,Apartment,Kothrud,8500.0,389.0,Semi-Furnished,1.0,Pune,...,0,1,0,0,0,0,0,0,0,1
193009,AGENT,1.0,BHK,Apartment,Wakad,16500.0,670.0,Semi-Furnished,2.0,Pune,...,0,1,0,0,0,0,0,0,0,1
193010,AGENT,2.0,BHK,Apartment,Alandi,12000.0,800.0,Unfurnished,2.0,Pune,...,0,0,1,0,0,0,0,0,0,1

## Remove Identifiers

In [9]:
clean_dataset = merged.drop(["seller_type","layout_type","property_type","locality","furnish_type","city"],axis='columns')

In [10]:
clean_dataset.head(5)

,bedroom,price,area,bathroom,BUILDER,OWNER,RK,Independent Floor,Independent House,Penthouse,...,Villa,Semi-Furnished,Unfurnished,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai,Pune
0,2.0,20000.0,1450.0,2.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,7350.0,210.0,1.0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3.0,22000.0,1900.0,3.0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2.0,13000.0,1285.0,2.0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,2.0,18000.0,1600.0,2.0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
clean_dataset.shape

(193011, 21)

In [12]:
#Check Null Value
clean_dataset.isnull().sum()

bedroom              0
price                0
area                 0
bathroom             0
BUILDER              0
OWNER                0
RK                   0
Independent Floor    0
Independent House    0
Penthouse            0
Studio Apartment     0
Villa                0
Semi-Furnished       0
Unfurnished          0
Bangalore            0
Chennai              0
Delhi                0
Hyderabad            0
Kolkata              0
Mumbai               0
Pune                 0
dtype: int64

## Separate x,y

In [13]:
x = clean_dataset.drop(['price'],axis=1)

In [14]:
x.head(5)

,bedroom,area,bathroom,BUILDER,OWNER,RK,Independent Floor,Independent House,Penthouse,Studio Apartment,Villa,Semi-Furnished,Unfurnished,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai,Pune
0,2.0,1450.0,2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1.0,210.0,1.0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0
2,3.0,1900.0,3.0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,2.0,1285.0,2.0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
4,2.0,1600.0,2.0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
y = clean_dataset['price']

In [16]:
y.head(5)

0    20000.0
1     7350.0
2    22000.0
3    13000.0
4    18000.0
Name: price, dtype: float64

In [17]:
# importing train_test_split from sklearn

from sklearn.model_selection import train_test_split

# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.15, random_state=51)

print('Shape of X_train = ', x_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', x_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (164059, 20)
Shape of y_train =  (164059,)
Shape of X_test =  (28952, 20)
Shape of y_test =  (28952,)

## Polynomial Features

In [18]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree=2)
x_train_poly = poly_reg.fit_transform(x_train)
x_test_poly = poly_reg.fit_transform(x_test)

In [19]:
x_train_poly.shape, x_test_poly.shape

((164059, 231), (28952, 231))

## Linear Regression

In [20]:
# importing module
from sklearn.linear_model import LinearRegression

#### Use for Polynomial

In [21]:
lr = LinearRegression()
# fitting the training data
lr.fit(x_train_poly, y_train)

LinearRegression()

#### Use for multiple linear regression

In [22]:
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

# Prefomance

### Linear Regression

In [23]:
y_prediction =  LR.predict(x_test)

In [24]:
y_prediction

array([170594.22119803,  40943.83362148,  34432.61685635, ...,
        -1481.22146236,  89892.53085695,  87547.69185344])

In [25]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_prediction)

0.652503090689359

In [26]:
from sklearn.metrics import r2_score
r2_score(y_test,y_prediction )

0.6524595321049549

In [27]:
from sklearn.metrics import mean_squared_error
mse_l=mean_squared_error(y_test,y_prediction)

In [28]:
mse_l

2588056198.156251

In [29]:
from math import sqrt

rmse_l = sqrt(mse_l)

In [30]:
rmse_l

50872.94170928442

### Polynomial Regression

In [31]:
y_predict = lr.predict(x_test_poly)

In [32]:
y_predict

array([185811.1146253 ,  17150.13005819,  54626.62373495, ...,
        16005.68610646,  94848.62981712,  55593.74160995])

In [33]:
from sklearn.metrics import explained_variance_score
explained_variance_score(y_test, y_predict)

0.7563900669449367

In [34]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict )

0.7563788542209487

In [35]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_predict)

In [36]:
mse

1814192229.6249242

In [37]:
from math import sqrt

rmse = sqrt(mse)

In [38]:
rmse

42593.33550715328