In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('_All_Cities_Cleaned.csv')
dataset.head(5)

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

# One Hot Encoding

In [3]:
seller= pd.get_dummies(dataset['seller_type'],drop_first=True)
seller.head(5)

   BUILDER  OWNER
0        0      1
1        0      1
2        0      1
3        0      1
4        0      1

In [4]:
layout= pd.get_dummies(dataset['layout_type'],drop_first=True)
layout.head(5)

   RK
0   0
1   1
2   0
3   0
4   0

In [5]:
propertytype= pd.get_dummies(dataset['property_type'],drop_first=True)
propertytype.head(5)

   Independent Floor  Independent House  Penthouse  Studio Apartment  Villa
0                  0                  0          0                 0      0
1                  0                  0          0                 1      0
2                  0                  0          0                 0      0
3                  0                  1          0                 0      0
4                  0                  1          0                 0      0

In [6]:
furnish= pd.get_dummies(dataset['furnish_type'],drop_first=True)
furnish.head(5)

   Semi-Furnished  Unfurnished
0               0            0
1               1            0
2               0            1
3               1            0
4               0            0

In [7]:
location = pd.get_dummies(dataset['city'],drop_first=True)
location.head(5)

   Bangalore  Chennai  Delhi  Hyderabad  Kolkata  Mumbai  Pune
0          0        0      0          0        0       0     0
1          0        0      0          0        0       0     0
2          0        0      0          0        0       0     0
3          0        0      0          0        0       0     0
4          0        0      0          0        0       0     0

In [8]:
merged = pd.concat([dataset,seller, layout, propertytype, furnish, location],axis='columns')
merged

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city,...,Villa,Semi-Furnished,Unfurnished,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai,Pune
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad,...,0,0,0,0,0,0,0,0,0,0
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad,...,0,1,0,0,0,0,0,0,0,0
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad,...,0,0,1,0,0,0,0,0,0,0
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad,...,0,1,0,0,0,0,0,0,0,0
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193006,OWNER,1.0,BHK,Apartment,Chinchwad,13250.0,650.0,Semi-Furnished,1.0,Pune,...,0,1,0,0,0,0,0,0,0,1
193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,7000.0,350.0,Unfurnished,1.0,Pune,...,0,0,1,0,0,0,0,0,0,1
193008,OWNER,1.0,BHK,Apartment,Kothrud,8500.0,389.0,Semi-Furnished,1.0,Pune,...,0,1,0,0,0,0,0,0,0,1
193009,AGENT,1.0,BHK,Apartment,Wakad,16500.0,670.0,Semi-Furnished,2.0,Pune,...,0,1,0,0,0,0,0,0,0,1
193010,AGENT,2.0,BHK,Apartment,Alandi,12000.0,800.0,Unfurnished,2.0,Pune,...,0,0,1,0,0,0,0,0,0,1

## Remove Identifiers

In [9]:
clean_dataset = merged.drop(["seller_type","layout_type","property_type","locality","furnish_type","city"],axis='columns')

In [10]:
clean_dataset.head(5)

,bedroom,price,area,bathroom,BUILDER,OWNER,RK,Independent Floor,Independent House,Penthouse,...,Villa,Semi-Furnished,Unfurnished,Bangalore,Chennai,Delhi,Hyderabad,Kolkata,Mumbai,Pune
0,2.0,20000.0,1450.0,2.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,7350.0,210.0,1.0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3.0,22000.0,1900.0,3.0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2.0,13000.0,1285.0,2.0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,2.0,18000.0,1600.0,2.0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0