In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('_All_Cities_Cleaned.csv')
dataset.head(5)

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

# One Hot Encoding

In [3]:
seller= pd.get_dummies(dataset['seller_type'],drop_first=True)
seller.head(5)

   BUILDER  OWNER
0        0      1
1        0      1
2        0      1
3        0      1
4        0      1

In [4]:
layout= pd.get_dummies(dataset['layout_type'],drop_first=True)
layout.head(5)

   RK
0   0
1   1
2   0
3   0
4   0